
    /* GRIDS */
.folio-grid,
.hovereffect:hover p.icon-links a : hover,
.hovereffect h2,
.hovereffect                      : hover .overlay,
.hovereffect                      : hover h2,

background                        : black;
::-moz-selection { /* Code for Firefox */
color                             : white;

blockquote:before, blockquote     : after,
* RESPONSIVE & SALVATTORE */

@font-face { font-family: Geomanist; src: url('../fonts/Geomanist-Medium.otf'); }

body{
    height                  : 100%;
    width                   : 100%;
    font-family             : Helvetica, Arial, sans-serif;
    font-size               : 14px;
    color                   : #fff;
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
}

h1,h2,h3,h4,h5,h6,p {
    line-height : 1.45;
}

h1 {
    font-family : Geomanist;
    font-size   : 2em;
}

h2 { font-size: 1em;
}

p {  font-size: 0.70em; }

html {
    height : 100%;
    width  : 100%;
}

::selection {
    background : black;
    color      : white;
}

/* --------------------------------
Main components  NAV
-------------------------------- */
.cd-section:nth-of-type(even) p {
    color : #bda3ad;
}

.cd-section h1, .cd-section p {
    position          : absolute;
    top               : 50%;
    right             : auto;
    bottom            : auto;
    left              : 50%;

    width             : 90%;
    max-width         : 768px;

    text-align        : center;

    -webkit-transform : translateX(-50%) translateY(-50%);
    -moz-transform    : translateX(-50%) translateY(-50%);
    -ms-transform     : translateX(-50%) translateY(-50%);
    -o-transform      : translateX(-50%) translateY(-50%);
    transform         : translateX(-50%) translateY(-50%);
}

.cd-section h1 {
    font-size      : 20px;
    font-size      : 1.25rem;
    font-weight    : 300;
    color          : white;
    text-transform : uppercase;
}

.cd-section p {
    line-height : 1.6;
}

@media only screen and (min-width: 768px) {
    .cd-section h1 {
        font-size : 30px;
        font-size : 1.875rem;
    }
    .cd-section p {
        font-size   : 20px;
        font-size   : 1.25rem;
        line-height : 2;
    }
}

.cd-scroll-down {
    position          : absolute;
    right             : auto;
    bottom            : 20px;
    left              : 50%;

    height            : 44px;
    width             : 38px;

    background        : url("../img/cd-arrow-bottom.svg") no-repeat center center;

    -webkit-transform : translateX(-50%);
    -moz-transform    : translateX(-50%);
    -ms-transform     : translateX(-50%);
    -o-transform      : translateX(-50%);
    transform         : translateX(-50%);
}

/* No Touch devices */
.cd-nav-trigger {
    display : none;
}

.no-touch #cd-vertical-nav {
    position          : fixed;
    top               : 50%;
    right             : 40px;
    bottom            : auto;
    z-index           : 1;

    -webkit-transform : translateY(-50%);
    -moz-transform    : translateY(-50%);
    -ms-transform     : translateY(-50%);
    -o-transform      : translateY(-50%);
    transform         : translateY(-50%);
}

.no-touch #cd-vertical-nav li {
    text-align : right;
}

.no-touch #cd-vertical-nav a {
    display                     : inline-block;

    /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
    -webkit-backface-visibility : hidden;
    backface-visibility         : hidden;
}

.no-touch #cd-vertical-nav a:after {
    content : "";

    display : table;
    clear   : both;
}

.no-touch #cd-vertical-nav a span {
    display           : inline-block;
    float             : right;

    -webkit-transform : scale(0.6);
    -moz-transform    : scale(0.6);
    -ms-transform     : scale(0.6);
    -o-transform      : scale(0.6);
    transform         : scale(0.6);
}

.no-touch #cd-vertical-nav a:hover span {
    background-color  : #171717;

    -webkit-transform : scale(1);
    -moz-transform    : scale(1);
    -ms-transform     : scale(1);
    -o-transform      : scale(1);
    transform         : scale(1);
}

.no-touch #cd-vertical-nav a:hover .cd-label {
    opacity : 1;
}

.no-touch #cd-vertical-nav a.is-selected .cd-dot {
    background-color : #FFF;
}

.no-touch #cd-vertical-nav .cd-dot {
    position                 : relative;
    /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
    top                      : 8px;

    height                   : 12px;
    width                    : 12px;

    background-color         : #E0E0E0;
    border-radius            : 50%;

    -webkit-transition       : -webkit-transform 0.2s, background-color 0.5s;
    -moz-transition          : -moz-transform 0.2s, background-color 0.5s;
    transition               : transform 0.2s, background-color 0.5s;
    -webkit-transform-origin : 50% 50%;
    -moz-transform-origin    : 50% 50%;
    -ms-transform-origin     : 50% 50%;
    -o-transform-origin      : 50% 50%;
    transform-origin         : 50% 50%;
}

ol, ul {
    list-style : none;
}

blockquote, q {
    quotes : none;
}

q:before, q:after {
    content : '';
    content : none;
}

.no-touch #cd-vertical-nav .cd-label {
    position                 : relative;

    margin-right             : 15px;
    padding                  : .15em .5em;

    opacity                  : 0;
    font-size                : 2rem;
    color                    : #fafafa;

    -webkit-transition       : -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition          : -moz-transform 0.2s, opacity 0.2s;
    transition               : transform 0.2s, opacity 0.2s;
    -webkit-transform-origin : 100% 50%;
    -moz-transform-origin    : 100% 50%;
    -ms-transform-origin     : 100% 50%;
    -o-transform-origin      : 100% 50%;
    transform-origin         : 100% 50%;
}

    /* Touch devices
    .touch .cd-nav-trigger {
        display: block;
        z-index: 2;
        position: fixed;
        bottom: 30px;
        right: 5%;
        height: 44px;
        width: 44px;
        border-radius: 0.25em;
        background: rgba(255, 255, 255, 0.9);
    }
    .touch .cd-nav-trigger span {
        position: absolute;
        height: 4px;
        width: 4px;
        background-color: #3e3947;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
    .touch .cd-nav-trigger span::before, .touch .cd-nav-trigger span::after {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        background-color: inherit;
        border-radius: inherit;
    }
    .touch .cd-nav-trigger span::before {
        top: -9px;
    }
    .touch .cd-nav-trigger span::after {
        bottom: -9px;
    }
    .touch #cd-vertical-nav {
        position: fixed;
        z-index: 1;
        right: 5%;
        bottom: 30px;
        width: 90%;
        max-width: 400px;
        max-height: 90%;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        -webkit-transform-origin: right bottom;
        -moz-transform-origin: right bottom;
        -ms-transform-origin: right bottom;
        -o-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        transition-property: transform;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        transition-duration: 0.2s;
        border-radius: 0.25em;
        background-color: rgba(255, 255, 255, 0.9);
    }
    .touch #cd-vertical-nav a {
        display: block;
        padding: 1em;
        border-bottom: 1px solid rgba(62, 57, 71, 0.1);
    }
    .touch #cd-vertical-nav a span:first-child {
        display: none;
    }
    .touch #cd-vertical-nav a.is-selected span:last-child {
        color: #d88683;
    }
    .touch #cd-vertical-nav.open {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    .touch #cd-vertical-nav.open + .cd-nav-trigger {
        background-color: transparent;
    }
    .touch #cd-vertical-nav.open + .cd-nav-trigger span {
        background-color: rgba(62, 57, 71, 0);
    }
    .touch #cd-vertical-nav.open + .cd-nav-trigger span::before, .touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
        background-color: #3e3947;
        height: 3px;
        width: 20px;
        border-radius: 0;
        left: -8px;
    }
    .touch #cd-vertical-nav.open + .cd-nav-trigger span::before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 1px;
    }
    .touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
        bottom: 0;
    }
    .touch #cd-vertical-nav li:last-child a {
        border-bottom: none;
    }
    @media only screen and (min-width: 768px) {
        .touch .cd-nav-trigger, .touch #cd-vertical-nav {
            bottom: 40px;
        }
    } */
    /* FIN NAV */
.intro {
    display    : table;
    z-index    : 50;

    height     : 100%;
    width      : 100%;
    padding    : 100px 0;

    color      : #fff;
    text-align : center;
}

header {
    position                : relative;

    min-height              : auto;
    width                   : 100%;

    background-image        : url('../img/header.jpg');
    background-position     : center;
    background-size         : cover;
    color                   : white;
    text-align              : center;

    -webkit-background-size : cover;
    -moz-background-size    : cover;
    -o-background-size      : cover;
}

header .header-content {
    position   : relative;

    width      : 100%;
    padding    : 100px 15px 100px;

    text-align : center;
}

header .header-content .header-content-inner h1 {
    margin-top     : 0;
    margin-bottom  : 0;

    font-weight    : 700;
    text-transform : uppercase;
}

header .header-content .header-content-inner hr {
    margin : 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom : 50px;

    font-size     : 16px;
    font-weight   : 300;
    color         : rgba(255, 255, 255, 0.7);
}

@media (min-width: 768px) {
    header {
        min-height : 100%;
    }

    header .header-content {
        position          : absolute;
        top               : 50%;

        padding           : 0 50px;

        -webkit-transform : translateY(-50%);
        -ms-transform     : translateY(-50%);
        transform         : translateY(-50%);
    }

    header .header-content .header-content-inner {
        max-width    : 1000px;
        margin-right : auto;
        margin-left  : auto;
    }

    header .header-content .header-content-inner p {
        max-width    : 80%;
        margin-right : auto;
        margin-left  : auto;

        font-size    : 18px;
    }
}

#apropos-josette p {
    padding        : 2em;

    color          : #3c3c3c;
    letter-spacing : .05em;
    line-height    : 1.563em;
    text-align     : center;
}

#apropos-josette{
    margin  : 0 auto;
    padding : 89px 40px 45px;
}

svg * {
    transition   : fill-opacity 1s;
    fill-opacity : 0;
}

svg.finished * {
    fill-opacity : 1;
    fill         : #FFF;
}

.st0{
    fill : #FFFFFF;
}

#logosvg{
    width : 10em;
}

[class*="col-"] {
    display        : table-cell;
    vertical-align : middle;
    float          : none;
}

#services{
    width      : 100%;
    background : #fff;
}

h1 {
    font-weight    : bold;
    color          : #171717;
    letter-spacing : .05em;
    line-height    : 3.5em;
    text-align     : center;
    text-align     : center;

    align-self     : center;
}

#services h2 {
    font-weight    : bold;
    color          : #171717;
    letter-spacing : .05em;
    line-height    : 2em;
}

#services p {
    color       : #3c3c3c;
    line-height : 1.563em;
}

#services .content {
    vertical-align : middle;

    width          : 80%;
    margin         : auto;
    padding        : 50px 20px 50px 20px;
}

.green {
    background-color : green;
}

.blue {
    background-color : blue;
}

.red {
    background-color : red;
}

.yellow{
    background-color : yellow;
}

.grey {
    background : #fafafa;
}

.white{
    background : #FFF;
}

.repadded {
    padding-right : 0px;
    padding-left  : 0px;
}

#folio, #clients{
    width : 100%;
}

.test-grid {
    margin : 0 -10px;
}

.column { float: left; }

.size-1of1 { width: 100%; }

.size-1of2 { width: 50%; }

.size-1of3 { width: 33.333%; }

/* GRIDS: INTRO GRID */
.folio-grid {
    position : relative;
}

.folio-grid .column {
    position : relative;
}

.folio-grid img {
    padding : 5px;
}

/* .folio-grid .item:hover {
opacity: 0.2;
cursor: pointer;
transition: all .4s;
} */
/* Again, you’re free to use and define the classes: */
.column { float: left; }

.size-1of1 { width: 100%; }

.size-1of2 { width: 66.666%; }

.size-1of3 { width: 33.333%; }

@media screen and (max-width: 690px) {
}

@media screen and (max-width: 768px) {
    .layout-redux {
        width : inherit;
    }

    .size-1of1 { width: 100%; height: 50%;}

    .size-1of2 { width: 100%; height: 50%;}

    .size-1of3 { min-width: 50%; height: 33%; display: inline-flex;}

    .rop { width: 66%; display: table-column;}

    #cd-vertical-nav  { display:none;}
}

/* Again, you’re free to use and define the classes: */
.hovereffect {
    position           : relative;
    float              : left;

    overflow           : hidden;
    height             : 100%;
    width              : 100%;

    cursor             : pointer;
    text-align         : center;

    -webkit-transition : -webkit-transform 0.15s;
    transition         : transform 0.15s;
}

.hovereffect .overlay {
    position           : absolute;
    top                : auto;
    bottom             : 0;
    left               : 0;

    overflow           : hidden;
    height             : 100%;
    width              : 100%;
    padding            : 1em;

    opacity            : 0.6;
    background         : #FFF;
    color              : #3c4a50;

    -webkit-transition : -webkit-transform 0.15s;
    transition         : transform 0.15s;
    -webkit-transform  : translate3d(0,100%,0);
    transform          : translate3d(0,100%,0);

    pointer-events     : none;
}

.hovereffect img {
    position           : relative;
    display            : block;

    -webkit-transition : -webkit-transform 2s;
    transition         : transform 2s;
}

.hovereffect:hover img {
    opacity             : 0.4;

    transition-duration : 8s;
    transform           : scale(1.1);

    -webkit-filter      : grayscale(100%);
    filter              : grayscale(100%);
    pointer-events      : none;
}

.hovereffect h2 {
    position       : relative;
    top            : 50%;

    margin         : 0px;

    font-family    : Geomanist;
    font-weight    : bold;
    color          : #171717;
    letter-spacing : .05em;
    text-align     : center;
}

.hovereffect a.info {
    display          : inline-block;

    margin           : 50px 0 0 0;
    padding          : 7px 14px;

    background-color : transparent;
    color            : #fff;
    text-decoration  : none;
    text-transform   : uppercase;
    border           : 1px solid #fff;
}

.hovereffect a.info:hover {
    box-shadow : 0 0 5px #fff;
}

.hovereffect p.icon-links a {
    float     : right;

    font-size : 1.4em;
    color     : #3c4a50;
}

.hovereffect:hover p.icon-links a:focus {
    color : #252d31;
}

.hovereffect p.icon-links a {
    -webkit-transition : -webkit-transform 0.35s;
    transition         : transform 0.35s;
    -webkit-transform  : translate3d(0,200%,0);
    transform          : translate3d(0,200%,0);
}

.hovereffect:hover p.icon-links a {
    -webkit-transform : translate3d(0,0,0);
    transform         : translate3d(0,0,0);
}

.hovereffect:hover h2 {
    -webkit-transition-delay : 0.05s;
    transition-delay         : 0.05s;
}

/* Clients: */
.spacer{
    margin-top       : 5em;
    padding-bottom   : 5em;

    background-color : #171717;
}

#clients h1{
    color : #FFF;
}

.thumb {
    margin-bottom : 30px;
}

.boxed {
    margin  : 1em;
    padding : 0.2em;

    border  : 2px solid #3C3C3C;
}

button {
    overflow : visible;
}

button, select {
    text-transform : none;
}

button, input, select, textarea {
    margin : 0;

    font   : inherit;
    color  : #5A5A5A;
}

input {
    line-height : normal;
}

textarea {
    overflow : auto;
}

.email {
    float : right;
    width : 45%;
}

input[type='text'], [type='email'], select, textarea {
    box-sizing         : border-box;

    width              : 100%;
    margin             : 0em 0 0.875em 0;
    padding            : 0 0 0.875em 0;

    background         : none;
    font-family        : Geomanist;
    font-size          : 1.000em;
    font-weight        : 400;
    color              : #EEEEEE;
    letter-spacing     : 1px;
    text-align         : center;
    border             : none;
    border-bottom      : solid 2px #474544;

    -webkit-transition : all 0.3s;
    -moz-transition    : all 0.3s;
    -ms-transition     : all 0.3s;
    -o-transition      : all 0.3s;
    transition         : all 0.3s;

    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    -ms-box-sizing     : border-box;
    -o-box-sizing      : border-box;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
    padding          : 0 0 1em 0;

    background-color : black;
    color            : white;
    outline          : none;
}

.message {
    float : none;
}

.name {
    float : left;
    width : 45%;
}

select {
    background: url('https : //cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
    -moz-appearance        : none;
    -webkit-appearance     : none;
}

select::-ms-expand {
    display : none;
}

.subject {
    width : 100%;
}

textarea {
    resize      : none;

    height      : 150px;
    width       : 100%;

    line-height : 110%;
}

::-webkit-input-placeholder {
    color : #474544;
}

:-moz-placeholder {
    opacity : 1;
    color   : #474544;
}

::-moz-placeholder {
    opacity : 1;
    color   : #474544;
}

:-ms-input-placeholder {
    color : #474544;
}

#form_button {
    display            : inline-block;

    padding            : 20px 35px;

    cursor             : pointer;
    background         : none;
    font-size          : 0.875em;
    font-weight        : bold;
    color              : #474544;
    text-transform     : uppercase;
    border             : solid 2px #474544;
    outline            : none;

    -webkit-transition : all 0.3s;
    -moz-transition    : all 0.3s;
    -ms-transition     : all 0.3s;
    -o-transition      : all 0.3s;
    transition         : all 0.3s;
}

#form_button:hover {
    background : black;
    color      : white;
}

#contact, #folio{
    background-color : #FFF;
}

.footer {
    position         : relative;
    background-color : #171717;
}

.footer-inner {
    bottom         : 0;

    padding        : 1px;
    padding-top    : 60px;
    padding-bottom : 60px;

    color          : #fff;
}
