@font-face {
    font-family: Geomanist-Medium;
    src: url('../fonts/Geomanist-Medium.otf');
}
@font-face {
    font-family: Geomanist-Regular;
    src: url('../fonts/Geomanist-Regular.otf');
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 1.45;
}

h1 {
    font-size: 2em;
    font-family: Geomanist-Medium;
}

h2 {
    font-size: 1em;
        font-family: Geomanist-Medium;

}
h3 {
    font-size: 0.7em;
        font-family: Geomanist-Regular;

}
.intro h3 {
    text-transform: uppercase;}

p {
    font-size: 0.70em;
}

html {
    width: 100%;
    height: 100%;
}

::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: black;
}

::selection {
    color: white;
    background: black;
}


/* --------------------------------
Main components  NAV
-------------------------------- */
.mousescroll {
    position: absolute;
    left : calc(50% - 40px);
    bottom : 20px;
}
.cd-section:nth-of-type(even) p {
    color: #bda3ad;
}

.cd-section h1,
.cd-section p {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
    max-width: 768px;
    text-align: center;
}

.cd-section h1 {
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 20px;
    font-size: 1.25rem;
}

.cd-section p {
    line-height: 1.6;
}

@media only screen and (min-width: 768px) {
    .cd-section h1 {
        font-size: 30px;
        font-size: 1.875rem;
    }
    .cd-section p {
        font-size: 20px;
        font-size: 1.25rem;
        line-height: 2;
    }
}

.cd-scroll-down {
    position: absolute;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 20px;
    width: 38px;
    height: 44px;
    background: url("../img/cd-arrow-bottom.svg") no-repeat center center;
}


/* No Touch devices */

.cd-nav-trigger {
    display: none;
}

.no-touch #cd-vertical-nav {
    position: fixed;
    right: 40px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}

.no-touch #cd-vertical-nav li {
    text-align: right;
}

.no-touch #cd-vertical-nav a {
    display: inline-block;
    /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.no-touch #cd-vertical-nav a:after {
    content: "";
    display: table;
    clear: both;
}

.no-touch #cd-vertical-nav a span {
    float: right;
    display: inline-block;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
}

.no-touch #cd-vertical-nav a:hover span {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    background-color: #171717;
}

.no-touch #cd-vertical-nav a:hover .cd-label {
    opacity: 1;
}

.no-touch #cd-vertical-nav a.is-selected .cd-dot {
    background-color: #FFF;
}

.no-touch #cd-vertical-nav .cd-dot {
    position: relative;
    /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
    top: 8px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #E0E0E0;
    -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
    -moz-transition: -moz-transform 0.2s, background-color 0.5s;
    transition: transform 0.2s, background-color 0.5s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

.no-touch #cd-vertical-nav .cd-label {
    position: relative;
    margin-right: 15px;
    padding: .15em .5em;
    color: #fafafa;
    font-size: 2rem;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    opacity: 0;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}


/* Touch devices
    .touch .cd-nav-trigger {
        display: block;
        z-index: 2;
        position: fixed;
        bottom: 30px;
        right: 5%;
        height: 44px;
        width: 44px;
        border-radius: 0.25em;
        background: rgba(255, 255, 255, 0.9);
    }
    .touch .cd-nav-trigger span {
        position: absolute;
        height: 4px;
        width: 4px;
        background-color: #3e3947;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
    .touch .cd-nav-trigger span::before, .touch .cd-nav-trigger span::after {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        background-color: inherit;
        border-radius: inherit;
    }
    .touch .cd-nav-trigger span::before {
        top: -9px;
    }
    .touch .cd-nav-trigger span::after {
        bottom: -9px;
    }
    .touch #cd-vertical-nav {
        position: fixed;
        z-index: 1;
        right: 5%;
        bottom: 30px;
        width: 90%;
        max-width: 400px;
        max-height: 90%;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        -webkit-transform-origin: right bottom;
        -moz-transform-origin: right bottom;
        -ms-transform-origin: right bottom;
        -o-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        transition-property: transform;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        transition-duration: 0.2s;
        border-radius: 0.25em;
        background-color: rgba(255, 255, 255, 0.9);
    }
    .touch #cd-vertical-nav a {
        display: block;
        padding: 1em;
        border-bottom: 1px solid rgba(62, 57, 71, 0.1);
    }
    .touch #cd-vertical-nav a span:first-child {
        display: none;
    }
    .touch #cd-vertical-nav a.is-selected span:last-child {
        color: #d88683;
    }
    .touch #cd-vertical-nav.open {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    .touch #cd-vertical-nav.open + .cd-nav-trigger {
        background-color: transparent;
    }
    .touch #cd-vertical-nav.open + .cd-nav-trigger span {
        background-color: rgba(62, 57, 71, 0);
    }
    .touch #cd-vertical-nav.open + .cd-nav-trigger span::before, .touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
        background-color: #3e3947;
        height: 3px;
        width: 20px;
        border-radius: 0;
        left: -8px;
    }
    .touch #cd-vertical-nav.open + .cd-nav-trigger span::before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 1px;
    }
    .touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
        bottom: 0;
    }
    .touch #cd-vertical-nav li:last-child a {
        border-bottom: none;
    }
    @media only screen and (min-width: 768px) {
        .touch .cd-nav-trigger, .touch #cd-vertical-nav {
            bottom: 40px;
        }
    } */


/* FIN NAV */

.intro {
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    z-index: 50;
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url('../img/header.jpg');
    text-align: center;
    color: white;
}

header .header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%;
}

header .header-content .header-content-inner h1 {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    margin-bottom: 50px;
}

@media (min-width: 768px) {
    header {
        min-height: 100%;
    }
    header .header-content {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0 50px;
    }
    header .header-content .header-content-inner {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    header .header-content .header-content-inner p {
        font-size: 18px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

#apropos-josette p {
    color: #3c3c3c;
    padding: 2em;
    letter-spacing: .05em;
    text-align: center;
    line-height: 1.563em;
}

#apropos-josette {
    padding: 89px 40px 45px;
    margin: 0 auto;
}

svg * {
    fill-opacity: 0;
    transition: fill-opacity 1s;
}

svg.finished * {
    fill-opacity: 1;
    fill: #FFF;
}

.st0 {
    fill: #FFFFFF;
}

#logosvg {
    width: 10em;
}

[class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: middle;
}

#services {
    background: #fff;
    width: 100%;
}

h1 {
    color: #171717;
    letter-spacing: .05em;
    text-align: center;
    line-height: 3.5em;
    font-weight: bold;
    text-align: center;
    align-self: center;
}

#services h2 {
    color: #171717;
    letter-spacing: .05em;
    line-height: 2em;
    font-weight: bold;
}

#services p {
    line-height: 1.563em;
    color: #3c3c3c;
}

#services .content {
    width: 80%;
    padding: 50px 20px 50px 20px;
    margin: auto;
    vertical-align: middle;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.grey {
    background: #fafafa;
}

.white {
    background: #FFF;
}

.repadded {
    padding-right: 0px;
    padding-left: 0px;
}

#folio,
#clients {
    width: 100%;
}


/* GRIDS */

.folio-grid,
.test-grid {
    margin: 0 -10px;
}

.column {
    float: left;
}

.size-1of1 {
    width: 100%;
}

.size-1of2 {
    width: 50%;
}

.size-1of3 {
    width: 33.333%;
}


}

/* GRIDS: INTRO GRID */
.folio-grid {
    position: relative;
}
.folio-grid .column {
    position: relative;
}
.folio-grid img {
    padding: 5px;
}

/* .folio-grid .item:hover {
opacity: 0.2;
cursor: pointer;
transition: all .4s;
} */

/* Again, you’re free to use and define the classes: */
.column {
    float: left;
}
.size-1of1 {
    width: 100%;
}
.size-1of2 {
    width: 66.666%;
}
.size-1of3 {
    width: 33.333%;
}
/* RESPONSIVE  */ 
@media screen and (max-width: 690px) {}
@media screen and (max-width: 768px) {
    .layout-redux {
        width: inherit;
    }
    .size-1of1 {
        width: 100%;
        height: 50%;
    }
    
    .size-1of2 {
        width: 100%;
        height: 50%;
    }
    
    .size-1of3 {
        min-width: 50%;
        height: 33%;
        display: inline-flex;
    }
    
    .rop {
        width: 66%;
        display: table-column;
    }
    
    #cd-vertical-nav {
        display: none;
    }
}

/* Again, you’re free to use and define the classes: */
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.15s;
    transition: transform 0.15s;
}
.hovereffect .overlay {
    width: 100%;
    height: 100%;
    opacity: 0.6;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: auto;
    bottom: 0;
    padding: 1em;
    background: #FFF;
    color: #3c4a50;
    -webkit-transition: -webkit-transform 0.15s;
    transition: transform 0.15s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    pointer-events: none;
}
.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: -webkit-transform 2s;
    transition: transform 2s;
}
.hovereffect:hover img {
    transform: scale(1.1);
    transition-duration: 8s;
    opacity: 0.4;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    pointer-events: none;
}
.hovereffect h2 {
    color: #171717;
    position: relative;
    text-align: center;
    margin: 0px;
    letter-spacing: .05em;
    font-weight: bold;
    top: 50%;
    font-family: Geomanist;
}
.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    margin: 50px 0 0 0;
    background-color: transparent;
}
.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}
.hovereffect p.icon-links a {
    float: right;
    color: #3c4a50;
    font-size: 1.4em;
}
.hovereffect:hover p.icon-links a:hover,
.hovereffect:hover p.icon-links a:focus {
    color: #252d31;
}
.hovereffect h2,
.hovereffect p.icon-links a {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
}
.hovereffect:hover .overlay,
.hovereffect:hover h2,
.hovereffect:hover p.icon-links a {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.hovereffect:hover h2 {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

/* Clients: */
.spacer {
    margin-top: 5em;
    padding-bottom: 5em;
    background-color: #171717;
}
#clients h1 {
    color: #FFF;
}
.thumb {
    margin-bottom: 30px;
}
.boxed {
    margin: 1em;
    padding: 0.2em;
}
button {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
input,
select,
textarea {
    color: #5A5A5A;
    font: inherit;
    margin: 0;
}
input {
    line-height: normal;
}
textarea {
    overflow: auto;
}
.email {
    float: right;
    width: 45%;
}
input[type='text'],
[type='email'],
select,
textarea {
    background: none;
    border: none;
    border-bottom: solid 2px #474544;
    color: #EEEEEE;
    font-family: Geomanist;
    font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 0.875em 0;
    padding: 0 0 0.875em 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
}
input[type='text']:focus,
[type='email']:focus,
textarea:focus {
    outline: none;
    padding: 0 0 1em 0;
    color: black;
}
.message {
    float: none;
}
.name {
    float: left;
    width: 45%;
}

.subject {
    width: 100%;
}
textarea {
    line-height: 110%;
    height: 150px;
    resize: none;
    width: 100%;
}
::-webkit-input-placeholder {
    color: #474544;
}
:-moz-placeholder {
    color: #474544;
    opacity: 1;
}
::-moz-placeholder {
    color: #474544;
    opacity: 1;
}
:-ms-input-placeholder {
    color: #474544;
}
#form_button {
    background: none;
    border: solid 2px #474544;
    color: #474544;
    cursor: pointer;
    display: inline-block;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#form_button:hover {
    background: black;
    color: white;
}
#contact,
#folio {
    background-color: #FFF;
}
.footer {
    background-color: #171717;
    position: relative;
}
.footer-inner {
    bottom: 0;
    color: #fff;
    padding: 1px;
    padding-bottom: 60px;
    padding-top: 60px;
}
.footer-inner p {
    vertical-align: text-top;
}

.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;animation-duration:1s;}.animated.hinge{-webkit-animation-duration:2s;-moz-animation-duration:2s;-ms-animation-duration:2s;animation-duration:2s;}@-webkit-keyframes fadeInUp {
0% {
opacity: 0;
-webkit-transform: translateY(20px);
} 100% {
opacity: 1;
-webkit-transform: translateY(0);
}
}

@-moz-keyframes fadeInUp {
0% {
opacity: 0;
-moz-transform: translateY(20px);
}

100% {
opacity: 1;
-moz-transform: translateY(0);
}
}

@keyframes fadeInUp {
0% {
opacity: 0;
transform: translateY(20px);
}

100% {
opacity: 1;
transform: translateY(0);
}
}

.fadeInUp {
-webkit-animation-name: fadeInUp;
-moz-animation-name: fadeInUp;
animation-name: fadeInUp;
}